body{
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 0;
    text-align: center;
    font-family: 'Cormorant Garamond' ;
    height: 100%;
    color: #40514E; 
    font-weight:600;
    
}

.emoji{
font-weight: normal;

}
.ava{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit:  cover ;
    object-position: 0 0;
}
p{
    font-size: 25px;
    line-height: 2;
}
.intro{
    width: 50%;
margin: auto;
}

.imgcloud1{
    position: absolute;
    left: 500px;
    top: 40px;

}

.imgcloud2{
    position: absolute;
    top: 20%;
    right:600px;
}

h1{
    color:#66BFBF;
    margin: 20px auto 0 auto ;
    font-size: 70px;
    line-height: 2;
}

h2{
    color:#66BFBF ;
    font-weight:900; 
    font-size: 2.5rem; 
    
}
h3{
    color:  #11999E;  
}

a{
    text-decoration: none;
    font-size: 26px;
    color:#11999E;
}

#link:hover{
    color: lawngreen  ;
}

.footer-link:hover{
    color: lavender;

}
.footer-link{
    font-family:'Cormorant Garamond';
    font-weight: bold;
    margin: 0 30px 0 40px;
}

.top-container{
    padding-top: 110px;
    background-color:  rgb(202, 233, 233);
    width: 100%;
    
}

.middle-container{
    padding-top: 20px;
    height: 100%;
    width: 100%;
    background-color:white
    
}

.botton-container{
    height: 100%;
    width: 100%;
    margin-top: 40px;
    background-color: #66BFBF;
    padding: 30px 0 5px 0;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
}

.container{
    box-sizing: border-box;
    margin: 0 auto;
}

.icon{
    border-radius: 40px;
    width: 25%;
    float: left;
    margin-right: 20px;
}
.skill-row{
    width: 50%;
    margin:50px auto 100px  auto;
    
    text-align: left;
    
    
}
.skill-row2{
    width: 50%;
    margin:50px auto 120px  auto;
    text-align: right;
    
    
}
.icon2{
    border-radius: 40px;
    width: 25%;
    float: right;
    margin-left: 20px;
}


hr{
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    border-color: gray;
    opacity: 0.6;

}

.btn {
    background:  #11cdd4;
    background-image: -webkit-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -o-linear-gradient(top,  #11cdd4, #11999e);
    background-image: linear-gradient(to bottom,  #11cdd4, #11999e);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 26px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-weight: normal;
    
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .contakt-text{
    width: 50%;
    margin: 10px auto 80px auto ;
  }
  .undertext{
      color: white;
      margin: 40px  auto  20px  auto;
      font-size: 19px;
      font-weight: 500;
     
  }




